.fundoCadastro {
  background-image: url(../../assets/homelogo2.png);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}